.home__header-yelow {
    background-color: #FED03E;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 80px;
}
.home__img-about {
  height:auto;
  max-width:100%;
  border-radius: 20px;
}

.home__header-text {
  color: #43289E;
}
.home__text-header {
  color: #43289E;
  font-size: 20px;
}
