.navbar__main {
  background-color: #FED03E;
}

.navbar__text {
  color: #43289E !important;
  font-size: 35px;
}

.navbar__text-logout {
  color: #43289E !important;
  font-size: 20px;
}

.nav-user {

  transition: color .4s ease;

  &:hover {
    text-decoration: none;
    background-color: darken($color: #FED03E, $amount: 10);
  }
}
